.features {
  background-color: $darker-bgc;
  position: relative;
  z-index: 1;
  padding: 0 275px;
  .features-cont {
    width: 100%;
    margin-bottom: 95px;
  }
  .feature {
    .img-cont {
      margin-bottom: 30px;
    }
    .access {
      margin-bottom: 40px;
    }
    .main-txt {
      width: 263px;
      height: 24px;
      font-family: raleway-bold;
      font-size: 20px;
      margin-bottom: 12px;
      text-align: center;
    }
    .secondary-txt {
      width: 349px;
      height: 62px;
      font-family: open-sans;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      width: 363px;
    }
  }
}
