.main-header {
  height: 200px;
  color: #fff;
  background-color: $main-bgc;
  .logo {
    background-image: url('../imgs/logo.svg');
    display: inline-block;
    width: 60px;
    height: 49px;
    margin-right: 16px;
  }
  .logo-txt {
    font-size: 60px;
    font-family: raleway-bold;
  }

  .main-nav {
    height: 100%;
    .link {
      padding: 0 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
