.subscribe {
  position: absolute;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  background-color: #1b2330;
  bottom: -120px;
  padding: 40px 75px;
  .title {
    text-align: center;
    font-family: raleway-bold;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 22px;
  }
  .instructions {
    width: 673px;
    height: 41px;
    font-family: open-sans;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 36px;
  }
  .subscribe-form {
    .email-input {
      border: none;
      background-color: #fff;
      width: 480px;
      height: 48px;
      padding: 14px 36px;
      box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);
      border-radius: 24px;
      margin-right: 24px;
      &::placeholder {
        color: #c0c0c0;
        font-family: open-sans;
        font-size: 12px;
      }
    }
    .submit-btn {
      width: 200px;
      height: 48px;
      box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.16);
      border-radius: 24px;
      background-image: linear-gradient(152deg, #63e1d9 0%, #34a0cd 100%);
      font-family: raleway-bold;
      font-size: 14px;
    }
  }
}
